MONGO_URI=mongodb+srv://<usuario>:<senha>@cluster0.xxxxx.mongodb.net/uniplanner?retryWrites=true&w=majority
PORT=3001

# Email (Gmail)
EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=sua_app_password_aqui
EMAIL_TO=destinatario@gmail.com

# Web Push (gere com: node -e "require('web-push').generateVAPIDKeys().then(k=>console.log(k))")
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:seuemail@gmail.com
