# Obrigatório
MONGO_URI=mongodb+srv://admin:senha@cluster0.xxxxx.mongodb.net/uniplanner?retryWrites=true&w=majority
PORT=3001
JWT_SECRET=uma_chave_secreta_qualquer_aqui

# Opcional — email (Resend)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=http://localhost:3000

# Opcional — email
EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx
EMAIL_TO=seuemail@gmail.com

# Opcional — push
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:seuemail@gmail.com
